.App {
  text-align: center;
  background-color:	#f0f4f5;
  width:100%;
  height:100vh;
  left:0;
  top:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title{
  font-size: larger;
  font-weight: bold;
  margin-bottom: 5%;
}

.Form{
  text-align: left;
}

.Button{
  text-align: center;
}

.Paragraph{
  text-align: left;
  padding-bottom: 2%;
}

.Modules{
  float: left;
  width: 100%;
  height: 100px;  
}

.ModuleLinkContainer{
  vertical-align: middle;
  text-align: center;
  height: 100%;
}

.ModuleButton{
  margin: 1%;
  height: auto;
  width:  auto;
}

.LargeText{
  vertical-align: middle;
  align-content: center;
  text-align: center;  
  font-size: x-large;
}
.NotificationButton{
  float: right;
  margin: 0.5%; 

}

.NotificationText{
  color:#000000;
}