.selectNonDoctor{
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
    padding-top: 1%;
    background-color:	#f0f4f5;
    
}
.NonDoctorContain{
text-align: center;
width: 50%;
margin: auto;

}
