.selectDoctor{
    width: 100%;
    text-align: center;
    margin: auto;
    height: auto;
    padding-top: 1%;
    background-color:	#f0f4f5;
    
}
.docContain{
    text-align: center;
    width: 50%;
    margin: auto;

}
.overflow-scrolling {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.Toast{
    
    top: 20%;
    right: 2%;
    width: 30%;
}